pipeline/pl_full_load_source_to_Bronze.json
{
	"name": "pl_full_load_source_to_Bronze",
	"properties": {
		"activities": [
			{
				"name": "ForEach for load",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TableList')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data full load to Bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_full_load",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_full_load_bronze",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Script to delete after moving to Bronze",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data full load to Bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_source_AzureSqlDatabase",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "DELETE FROM @{item().tableSchemaName}.@{item().tableName}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00",
								"logSettings": {
									"logDestination": "ExternalStore",
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureBlobStorage_logging",
											"type": "LinkedServiceReference"
										},
										"path": "source/ActivityLogs"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableList": {
				"type": "Array",
				"defaultValue": [
					{
						"tableName": "shoppingItems",
						"tableSchemaName": "dbo",
						"waterMark_column": "last_updated"
					},
					{
						"tableName": "favMovies",
						"tableSchemaName": "dbo",
						"waterMark_column": "released_date"
					}
				]
			}
		},
		"folder": {
			"name": "Projects"
		},
		"annotations": []
	}
}