pipeline/pl_metadata_with_filter.json
{
	"name": "pl_metadata_with_filter",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata from source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_get_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter files based on date",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata from source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata from source').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, 'emp')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Class_Exercise"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-21T21:19:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}